<!DOCTYPE html>
<html>
  <head>
    <title>Amptone Records</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta charset="utf-8"/>
		<meta name="description" content="Official website for Amptone Records! Amptone records is a Shanghai-based record label."/>
		<meta name="copyright" content="Chan Woo Kim">
		<meta name="author" content="Chan Woo Kim"/>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<link rel="stylesheet" href="css/shared.css">
		<link rel="stylesheet" href="css/standard.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/toggle.css">
		<link rel="stylesheet" href="css/main-page-rest.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-121674910-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-121674910-2');
    </script>


    <script
src="https://code.jquery.com/color/jquery.color.plus-names-2.1.2.min.js"
integrity="sha256-Wp3wC/dKYQ/dCOUD7VUXXp4neLI5t0uUEF1pg0dFnAE="
crossorigin="anonymous"></script>
  <script src="/scripts/jq-main.js"></script>

  </head>

  <body>
    {{> nav}}
    <script>
      var oneOfThoseNotFancyPages = false;
    </script>
    <div class="loader">
      <div class="contain-loader">
        <img class="loading-img" src="/img/logo.png"/>
        <h1 class="loading-text">Loading...</h1>
        <div class="loader-spin"></div>
      </div>
    </div>
    <style>
      .loader{
        width:100vw;
        height:100vh;
        position:fixed;
        z-index:109238172983691;
        background-color:white;
      }
      .loading-img{
        width:300px;
      	height:140px;
        display:block;
        margin:auto;
        margin-top:20vh;
      }
      .loading-text{
        width:100%;
        text-align:center;
        margin-top:5vh;
      }
      .loader-spin {
          border: 7px solid #f3f3f3; /* Light grey */
          border-top: 7px solid #91D3C8; /* Blue */
          border-radius: 50%;
          width: 70px;
          height: 70px;
          animation: spin 1500ms linear infinite;
          display:block;
          margin:auto;
          margin-top:40px;
          opacity:1;
      }
      @keyframes spin {
          0% { transform: rotate(0deg); }
          50%{
            transform:rotate(250deg);
          }
          100% { transform: rotate(360deg); }
      }
      a.main-link{
        color:white;
      }
      a.main-link:hover{
        color:black;
      }
    </style>
    <div class="container">
    			<div id="mycarousel" class="carousel slide">
    				<ol class="carousel-indicators">
    					<li data-target="#mycarousel" data-slide-to="0" class="active"></li>
    					<li data-target="#mycarousel" data-slide-to="1"></li>
    				</ol>
    				<div class="carousel-inner">
    						<!--the actual sldies-->
    						<div class="item active">
    							<div class="carousel-caption">
    								<h3>{{data.mainPage.MainPageHeader}}</h3>
                    <h3 class="margin-bottom-h3">{{data.mainPage.MainPageHeader2}}</h3>
                    <h2>{{data.mainPage.MainPageSubHeading}}</h2>
    								<button id="mainPageLinkButton" class="bun"><a class="main-link" href="{{data.mainPage.MainPageHeaderLink}}">{{data.mainPage.MainPageHeaderLinkLabel}}</a></button>

    							</div>
    							<!-- <div class="tint"></div> -->
    						</div>
    						<div class="item">
    							<div class="carousel-caption">
    								<h3 class="one">Keep updated!<br/> </h3>
    								<button class="bun"><a class="link-bun" href="/subscribe">Subscribe</a></button>
                    <style>
                      .link-bun{
                        color:white;
                      }
                    </style>
    							</div>
    							<!-- <div class="tint"></div> -->
    						</div>
    				</div>
    			</div>
    		</div>

        <style>

        </style>
        <div class="container contain content">
          <h1>News</h1>
          <div class="row">
              {{#each data.mainPageFeaturedNews}}
              <div class="col-md-4 containContent">
                {{#each this}}
                  <div class="release-container">
                    <img class="release-img" src="{{coverImage.url}}">
                    <h5 class="this-standard">News</h5>
                    <h4 class="standard-title">{{newsHeading}}</h4>
                    <p class="standard-des">{{description}}</p>
                  </div>
                {{/each}}
              </div>

              {{/each}}
          </div>
        </div>
    		<div class="container contain content">
    			<h1>Featured Releases</h1>
    			<div class="row">
              {{#each data.mainPageFeaturedReleases}}
              <div class="col-md-4 containContent">
                {{#each this}}
                  <div class="release-container">
        						<img class="release-img" src="{{coverImage.url}}">
        						<h5 class="this-standard">Featured Release</h5>
        						<h4 class="standard-title">{{songName}} - {{artistName}}</h4>
        						<p class="standard-des">{{songDescription}}</p>
                    {{#if songLink}}
        						      <a href="{{songLink}}"><button class="standard-extend">Play</button></a>
                      {{/if}}
        					</div>
                 {{/each}}
              </div>

              {{/each}}
    			</div>
    		</div>
    		<!-- <div class="clickMore">
    			<a href="/releases"><button class="click-more-standard">More releases</button></a>
    		</div> -->
        {{#if data.mainPageFeaturedEvent}}
      		<div class="container contain content">
      			<h1>Featured Events</h1>
      			<div class="row">
              {{#each data.mainPageFeaturedEvent}}
                <div class="col-md-3">

                </div>
          				<div class="col-md-6 containContent">
          					<div class="event-contain">
          						<img src="{{this.eventPhoto.url}}" class="event-img">
          						<h5 class="this-standard">Featured Events</h5>
          						<h4 class="standard-title">{{this.eventTitle}}</h4>
          						<h4 class="standard-title event-date">{{this.date}}</h4>
          						<p class="standard-des">{{this.eventDescription}}</p>
          						<a href="{{this.eventLink}}"><button class="standard-extend">Learn More</button></a>
          					</div>
          				</div>
                  <div class="col-md-3">

                  </div>
              {{/each}}
      			</div>
      		</div>
          <div class="clickMore">
      			<a href="/events"><button class="click-more-standard">More events</button></a>
      		</div>
        {{/if}}


        {{>footer}}

		    <script src="scripts/bootstrap.js"></script>

		    <script src="scripts/jq.js"></script>
  </body>
</html>
